<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

  <title>NodeJs File Uploader</title>
</head>
<body>

<!-- Input Type = File    ===>  enctype="multipart/form-data"  -->

<div class="container">
<form action="/upload" method="POST" enctype="multipart/form-data">
  <h2>NodeJs File Uploader</h2>

<!-- Dynamic Error Messages  -->
    <h5 class="text-danger"><strong><%= typeof msg != 'undefined' ? msg : '' %></strong></h5>
<!-- Dynamic Error Messages  -->

   <div class="file-field input-field">
     <div class="btn grey">
       <span>Upload Image</span>
       <!-- add multiple for Multiple Images Functionality -->
       <input name="myUploadedImage" type="file" >
     </div>
     <div class="file-path-wrapper">
       <input class="file-path validate" type="text" placeholder="Upload one or more files" >
     </div>
   </div>
   <button type="submit" class="btn btn-primary"> Submit </button>
   <!-- Dynamic Success Messages  -->
       <h5 class="blue"><strong><%= typeof msgSuccess != 'undefined' ? msgSuccess : '' %></strong></h5>
   <!-- Dynamic Success Messages  -->
   <image src="<%= typeof image != 'undefined' ? image : "" %>" width="100%"></image>

 </form>
 </div>

<!-- J Query CDN Needed for Materialize  -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

</body>

</html>
